{% extends 'baseboardpanel.html' %}

{% block content %}
<div class="d-flex flex-column">
    <div>{{ batch.workingdays.day_name_ina }}, {{ batch.batch_date.strftime('%d-%b-%Y') }}</div>
        <div>Shitf-{{ batch.schedule_id }}, jam {{ batch.start_time.strftime('%H:%M') }}-{{ batch.end_time.strftime('%H:%M') }}</div>
        <div>Booked: {{ batch.current_tickets }} / {{ batch.max_tickets }}</div>
        <div class="pb-3">Status: {{ batch.status }}</div>
        <div class="card p-2 mb-5">
            Add customer:
            <form method="POST" onSubmit="return confirm('Are you sure to add this customer?')">
                {{ form.hidden_tag() }}
                <div style="max-width: 250px;">
                    <div class="d-flex justify-content-between mb-2">
                        {{ form.username.label() }}{{ form.username() }}
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        {{ form.phone.label() }}{{ form.phone() }}
                    </div>
                    {{ form.submit(class="form-control btn btn-success btn-sm") }}
                </div>
            </form>
        </div>
</div>
{% endblock %}