{% extends 'base.html' %}

{% block content %}
<main class="container bg-light p-0" style="min-height: 100vh;">
    <div class="p-3">
        <div class="row">
            <div class="col p-0">
                <a href={{ url_for('boardpanel.batch_page') }} style="text-decoration: none;">
                    <div class="card m-1 p-3 text-center" style="border-radius: 10px;">
                        Available Batch
                    </div>
                </a>
                <a href="#" style="text-decoration: none;">
                    <div class="card m-1 p-3 text-center" style="border-radius: 10px;">
                        List Customer
                    </div>
                </a>
            </div>
            <div class="col p-0">
                <a href={{ url_for('boardpanel.newdate_page') }} style="text-decoration: none;">
                    <div class="card m-1 p-3 text-center" style="border-radius: 10px;">
                        New Date
                    </div>
                </a>
                <a href={{ url_for('boardpanel.default_page') }} style="text-decoration: none;">
                    <div class="card m-1 p-3 text-center" style="border-radius: 10px;">
                        Default
                    </div>
                </a>
            </div>
        </div>

        <!-- Available Batches -->
         {% for batch in batches %}
            
            <a href="#" style="display: block; text-decoration: none;">
                <div class="card mb-3" style="max-width: 540px; border-radius: 10px;">
                    <div class="row g-0">
                        <!-- left side -->
                        <div class="col-2 bgActive text-light d-flex flex-column justify-content-center align-items-center" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                            <h3 class="card-title" style="font-size: 36px; margin: 0;">{{ batch.day_id }}</h3>
                            <small>{{ batch.workingdays.day_name_ina }}</small>
                        </div>
                        <!-- middle side -->
                        <div class="col-9 text-dark">
                            <div class="card-body" style="padding: 0.5rem 1rem;">
                            <h6 class="card-title" style="font-weight: 400; line-height: 0.9; margin: 0;"> Shift-{{ batch.schedule_id }}</h6>
                            <p class="card-text" style="font-size: 18px; line-height: 1; margin: 5px 0">Jam: {{ batch.start_time }} - {{ batch.end_time }}</p>
                            <p class="card-text" style="line-height: 0.9; "><small class="text-muted">{{ batch.batch_date.strftime('%d-%b-%Y') }} - booking: {{ batch.current_tickets }} orang</small></p>
                            </div>
                        </div>
                        <!-- right side -->
                        <div class="col-1 d-flex justify-content-center align-items-center bgCustom{{batch.status}} text-light" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                            <span style="transform: rotate(-90deg);">{{ batch.status }}</span>
                        </div>
                    </div>
                </div>
            </a>
         {% endfor %}

        <a href="{{url_for('boardpanel.logout_page')}}">LOGOUT</a><br>
    </div>
</main>
{% endblock %}