{% extends 'baseboardpanel.html' %}

{% block content %}
<main class="container bg-light p-0" style="min-height: 100vh;">
    <div>
        <a href={{ url_for('boardpanel.defaultmessage_page') }} style="text-decoration: none;">
            <div class="card p-3 m-3 text-center" style="border-radius: 10px;">
                Opening Massage
            </div>
        </a>
    </div>
    <div>
        <a href={{ url_for('boardpanel.defaultbatch_page') }} style="text-decoration: none;">
            <div class="card p-3 m-3 text-center" style="border-radius: 10px;">
                Batch setting
            </div>
        </a>
    </div>
</main>
{% endblock %}