{% extends 'baseboardpanel.html' %}

{% block content %}
<main class="container bg-light p-0" style="min-height: 100vh;">
    <div class="p-3">
        <form method="POST" style="font-size: smaller;">
            {{ form.hidden_tag() }}
            <div class="row mb-3">
                <div class="col">
                    Capacity / batch
                    {{ form.capacity(class="form-control", value=default_set.capacity, style="font-size: small") }}
                </div>
                <div class="col">
                    Booking / HP
                    {{ form.booking_limit(class="form-control", value=default_set.booking_limit, style="font-size: small") }}
                </div>
            </div>
            <div class="d-flex mb-3">
                <div class="flex-fill align-self-center">
                    Jumlah Shift/Batch
                </div>
                <div class="flex-fill">
                    {{ form.number_of_batches(class="form-control", value=default_set.number_of_batches, style="font-size: small") }}
                </div>
            </div>
            gunakan format seperti ini: 08:00
            <div class="d-flex flex-wrap mb-3">
                <div class="col-4 adjustCol mb-3 p-1">
                    Shift 1
                    {{ form.batch1_start(class="form-control", value=default_set.batch1_start, style="font-size: small")}}
                    {{ form.batch1_end(class="form-control", value=default_set.batch1_end, style="font-size: small")}}
                </div>
                <div class="col-4 adjustCol p-1">
                    Shift 2
                    {{ form.batch2_start(class="form-control", value=default_set.batch2_start, style="font-size: small")}}
                    {{ form.batch2_end(class="form-control", value=default_set.batch2_end, style="font-size: small")}}
                </div>
                <div class="col-4 adjustCol p-1">
                    Shift 3
                    {{ form.batch3_start(class="form-control", value=default_set.batch3_start, style="font-size: small")}}
                    {{ form.batch3_end(class="form-control", value=default_set.batch3_end, style="font-size: small")}}
                </div>
                <div class="col-4 adjustCol p-1">
                    Shift 4
                    {{ form.batch4_start(class="form-control", value=default_set.batch4_start, style="font-size: small")}}
                    {{ form.batch4_end(class="form-control", value=default_set.batch4_end, style="font-size: small")}}
                </div>
                <div class="col-4 adjustCol p-1">
                    Shift 5
                    {{ form.batch5_start(class="form-control", value=default_set.batch5_start, style="font-size: small")}}
                    {{ form.batch5_end(class="form-control", value=default_set.batch5_end, style="font-size: small")}}
                </div>
            </div>
            
            {{ form.submit(class="btn btn-success form-control p-2") }}
        </form>
    </div>
</main>

{% endblock %}