{% extends 'baseboardpanel.html' %}

{% block content %}
<div class="d-flex align-items-center">
    <h2 class="h3 p-2">{{ head_text.upper() }}</h2>
    <a href="{{ url_for('boardpanel.editoption_page', action=next_action) }}" class="small"> {{ next_action }}</a><br>

</div>
    <div class="d-flex flex-column mb-3">
        {% for date_info in dates %}
            {% if next_action == 'edit' %}
                <a href="{{ url_for('boardpanel.edit_page', batch_date=date_info[0], num_batch=date_info[3], day_id=date_info[2]) }}" style="display: block; text-decoration: none;">
                    <div class="card p-2 text-center mb-2" style="max-width: 200px; border-radius: 10px;">
                        {{ date_info[1] }} {{ date_info[0].strftime('%d-%b-%Y') }}
                    </div>
                </a>
                {% elif next_action == 'delete' %}
                <a href="{{ url_for('boardpanel.edit_page', batch_date=date_info[0], num_batch=date_info[3], day_id=date_info[2]) }}" style="display: block; text-decoration: none;">
                    <div class="card p-2 text-center mb-2" style="max-width: 200px; border-radius: 10px;">
                        {{ date_info[1] }} {{ date_info[0].strftime('%d-%b-%Y') }}
                    </div>
                </a>
            {% else %}
                <h6>Something wrong, to match action.Should be 'edit' or 'delete'</h6>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}