{% extends 'base.html' %}

{% block content %}
<main class="container bg-light p-0" style="min-height: 100vh;">
    <div class="heroSection">
        <header class="text-center">
            <h1>TERAPI KETOK</h1>
            <h2>Mr. KEVIN</h2>
        </header>
        <address class="text-center">
            Garden Hous Grand Wisata<br>
            blok BG1 no.33 Lambangjaya<br>
            Tambun Selatan<br>
            Bekasi 17510 
        </address>
    </div>
    <div class="mx-4 p-2">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label() }}
                {{ form.username(class="form-control", placeholder="Nama") }}
            </div>
    
            <div class="mb-3">
                {{ form.phone.label() }}
                {{ form.phone(class="form-control", placeholder="Nomer HP") }}
            </div>
            {{ form.submit(class="form-control btn btn-success") }}
        </form>
    </div>
</main>
{% endblock %}