{% extends 'base.html' %}

{% block content %}
<main class="container bg-light p-0" style="min-height: 100vh;">
    <div class="heroSection">
        <header class="text-center">
            <h1>TERAPI KETOK</h1>
            <h2>Mr. KEVIN</h2>
        </header>
        <address class="text-center">
            Garden Hous Grand Wisata<br>
            blok BG1 no.33 Lambangjaya<br>
            Tambun Selatan<br>
            Bekasi 17510 
        </address>
    </div>
    <form method="POST" action="{{ url_for('home.home_page') }}">
        <div class="form-group"></div>
            <label for="username">Name:</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password">HP:</label>
            <input type="password" class="form-control" id="phone" name="phone" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</main>
{% endblock %}