{% extends 'base.html' %}

{% block title %}
Registrasi
{% endblock %}

{% block content %}

<main class="container bg-light p-0" style="min-height: 100vh;">
    <div class="heroSection">
        <header class="text-center">
            <h1>TERAPI KETOK</h1>
            <h2>Mr. KEVIN</h2>
        </header>
        <address class="text-center">
            Garden Hous Grand Wisata<br>
            blok BG1 no.33 Lambangjaya<br>
            Tambun Selatan<br>
            Bekasi 17510 
        </address>
    </div>
    
    <div class="pb-3 mx-3">
        {% for batch in batches %}
            {% if batch[6].upper() == "OPEN" %}
                <a href="{{ url_for('home.confirmation_page', batch_id=batch[2]) }}" style="display: block; text-decoration: none;">
                    <div class="card mb-3" style="max-width: 540px; border-radius: 10px;">
                        <div class="row g-0">
                            <!-- left side -->
                            <div class="col-2 {{batch[7]}} text-light d-flex flex-column justify-content-center align-items-center" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                                <small>SESI</small>
                                <h3 class="card-title" style="font-size: 36px; margin: 0;">{{ batch[2]}}</h3>
                            </div>
                            <!-- middle side -->
                            <div class="col-9 {{batch[8]}}">
                                <div class="card-body" style="padding: 0.5rem 1rem;">
                                <h6 class="card-title" style="font-weight: 400; line-height: 0.9; margin: 0;">{{ batch[3]}}</h6>
                                <p class="card-text" style="font-size: 18px; line-height: 1; margin: 5px 0">Jam: {{ batch[4]}} - {{ batch[5]}}</p>
                                <p class="card-text" style="line-height: 0.9; "><small class="text-muted">{{ batch[1]}} - {{ batch[0]}}</small></p>
                                </div>
                            </div>
                            <!-- right side -->
                            <div class="col-1 d-flex justify-content-center align-items-center bg-{{batch[9]}} text-light" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                                <span style="transform: rotate(-90deg);">{{ batch[6] }}</span>
                            </div>
                        </div>
                    </div>     
                </a>
            {% else %}
            <div class="card mb-3" style="max-width: 540px; border-radius: 10px;">
                <div class="row g-0">
                    <!-- left side -->
                    <div class="col-2 {{batch[7]}} text-light d-flex flex-column justify-content-center align-items-center" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
                        <small>SESI</small>
                        <h3 class="card-title" style="font-size: 36px; margin: 0;">{{ batch[2]}}</h3>
                    </div>
                    <!-- middle side -->
                    <div class="col-9 {{batch[8]}}">
                        <div class="card-body" style="padding: 0.5rem 1rem;">
                        <h6 class="card-title" style="font-weight: 400; line-height: 0.9; margin: 0;">{{ batch[3]}}</h6>
                        <p class="card-text" style="font-size: 18px; line-height: 1; margin: 5px 0">Jam: {{ batch[4]}} - {{ batch[5]}}</p>
                        <p class="card-text" style="line-height: 0.9; "><small class="text-muted">{{ batch[1]}} - {{ batch[0]}}</small></p>
                        </div>
                    </div>
                    <!-- right side -->
                    <div class="col-1 d-flex justify-content-center align-items-center bg-{{batch[9]}} text-light" style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
                        <span style="transform: rotate(-90deg);">{{ batch[6] }}</span>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</main>

{% endblock %}