{% extends 'base.html' %}

{% block content %}
<main class="container bg-light d-flex justify-content-center align-items-center p-2" style="min-height: 100vh;">
    <div class="card p-2" style="min-width: 200px;">
        <div>
            <h2>{{ ticket.customer_name }}</h2>
            <div  class="d-flex justify-content-between align-items-center">
                <div>Booking No:</div>
                <small>{{ ticket.ticket_uid }}</small>
            </div>

            
        </div>
        <h1>ticket</h1>
        {{ ticket.batch_id }}
        {{ ticket.phone }}
    </div>

</main>
{% endblock %}